<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


	<div class="container">

		<form th:action="@{/logout}" method="get" style="width:12%;float: right;  ">
			<button class="btn btn-md btn-primary btn-block" name="registration"
				type="Submit">Logout</button>
		</form>
		 <form th:action="@{/admin/home/topic}" method="GET" style="width: 12%;float: right">
		<button class="btn btn-md btn-primary btn-block" name="topic" type="Submit">Topic</button>
		</form> 

		<div class="panel-group" style="margin-top: 40px">
		
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					<img th:src="@{/images/datasection_vietnam_logo.gif}"
						class="img-responsive center-block" width="400" height="400"
						alt="Beer" />
				</div>
				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
			</div>
		</div>

	</div>
	<h2 align="center">
		<strong>Table User</strong>
	</h2>
	<div class="container">
		<a th:href="@{/admin/home/create}" class="btn btn-success pull-left">
			<span class="glyphicon glyphicon-plus"></span> Add new user
		</a>
		
		<form class="form-inline pull-right" action="#"
			th:action="@{/admin/home/search/1}" method="GET">
			<div class="form-group">
				<input type="text" class="form-control" name="usernames"
					placeholder=" Search by username..." />
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
		</form> 

		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>No</th>
					<th>UserName</th> 
					<th>Name</th>
					<th>Role</th>
					<th>Type</th>
					<th>Email</th>
					<th>Phone</th>
					<!-- <th>Last Login</th> -->
					<th>Company</th>
					<!-- <th>Description</th> -->
					<th>Create Time</th>
					<th>ExpireTime</th>
					<th>Number Topic</th>
					<th>Tour</th>
					<th>Edit</th>
					<th>Delete</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="user,iterStart : ${users.pageList}">
					<td th:text="${iterStart.count}"></td>
					 <td th:text="${user.username}"></td> 
					<td th:text="${user.name}"></td>
					<td th:text="${user.role}"></td>
					<td th:text="${user.type}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.phone}"></td>
					<!-- <td th:text="${user.lastLogin}"></td> -->
					<td th:text="${user.company}"></td>
					<!-- <td th:text="${user.description}"></td> -->
					<td th:text="${user.createdTime}"></td>
					<td th:text="${user.expireTime}"></td>
					<td th:text="${user.numberTopic}"></td>
					<td th:text="${user.tour}"></td>

					<td><a th:href="@{/admin/home/edit/{id}(id=${user.id})}"><span
							class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a th:href="@{/admin/home/delete/{id}(id=${user.id})}"><span
							class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
			</tbody>

		</table>
		 <div>
			<div class="col-md-3"></div>
			<div>
				<ul class="pagination">
					<li
						th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
						<a class="page-link" th:href="@{/admin/home/}">First</a>
					</li>
					<li
						th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
						<a class="page-link" aria-label="Previous"
						th:href="@{|${baseUrl}${currentIndex - 1}|}"
						title='Go to previous page'><span aria-hidden="true">«</span>
							<span class="sr-only">Previous</span></a>
					</li>
					<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
						th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
						<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
							th:text='${item}'>1</span></a>
					</li>
					<li
						th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
						<a class="page-link" aria-label="Next"
						th:href="@{|${baseUrl}${currentIndex + 1}|}"
						title='Go to next page'><span aria-hidden="true">»</span> <span
							class="sr-only">Next</span></a>
					</li>
					<li
						th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
						<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
					</li>
				</ul>
			</div>
			<div></div>
		</div>
		 
	</div>

</body>
</html>