<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"
	href="../../css/bootstrap.css" />
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../css/style.css" />
</head>
<body>
<div class="container"><form th:action="@{/admin/home}" method="GET" style="width: 12%;float:left">
		<button class="btn btn-md btn-primary btn-block" name="users" type="Submit">Home</button>
		</form></div>
  
<h2 align="center">
		<strong>Table Topic</strong>
	</h2>
	<div class="container" >
		 <a th:href="@{/admin/home/create}" class="btn btn-success pull-left">
			<span class="glyphicon glyphicon-plus"></span> Add new topic
		</a>
		
		<form class="form-inline pull-right" action="#"
			th:action="@{/admin/home/search}" method="GET">
			<div class="form-group">
				<input type="text" class="form-control" name="usernames"
					placeholder=" Search by topic..." />
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>  

		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>No</th>
					
					<th>Name</th>
					<th>Must Words</th>
					<th>Should Words</th>
					<th>Stop Words</th>
					<th>Created</th>
					<th>Media</th>
					<th>Flag</th>
					<th>Delete</th>
					<th>Edit</th>
					

				</tr>
			</thead>
			<tbody>
				<tr th:each="topic,iterStart : ${topics}">
					<td th:text="${iterStart.count}"></td>
					  
					<td th:text="${topic.name}"></td>
					<td th:text="${topic.mustwords}"></td>
					<td th:text="${topic.shouldwords}"></td>
					<td th:text="${topic.stopwords}"></td>
					<td th:text="${topic.createdAt}"></td>
					<td th:text="${topic.media}"></td>
					<td th:text="${topic.flag}"></td>
					
					


					 <td><a th:href="@{/admin/home/edit/{id}(id=${topic.id})}"><span
							class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a th:href="@{/admin/home/delete/{id}(id=${topic.id})}"><span
							class="glyphicon glyphicon-trash"></span></a></td> 
				</tr>
			</tbody>

		</table>
		</div>
</body>
</html>