<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
	<div class="container">
		<form th:action="@{/admin/home}" method="GET"
			style="width: 12%; float: left">
			<button class="btn btn-md btn-primary btn-block" name="users"
				type="Submit">Home</button>
		</form>
	</div>
	<h2 align="center">
		<strong>Create User</strong>
	</h2>

	<div class="container form">
		<div class="row" style="margin-top: 15px; margin-bottom: 15px;">
			<form action="#" th:action="@{/admin/home/save}"
				th:object="${adduser}" method="POST" novalidate="novalidate"
				style="width: 300px">
				<input type="hidden" th:field="*{id}" />
			 	<!-- <input type="hidden" th:field="*{createdTime}" />  -->
				<!-- <input type="hidden" th:field="*{password}" /> -->
				<!-- <input type = "date" th: value = "$ {expireTime}"> -->

				<div class="form-group">
					<label>UserName</label> <input type="text" class="form-control"
						th:field="*{username}" />
				</div>
				<div class="form-group">
					<label>Name</label> <input type="text" class="form-control"
						th:field="*{name}" />
				</div>

				<div class="form-group">
					<label>PassWord</label> <input type="password" class="form-control"
						th:field="*{password}" />
				</div>

				<div class="form-group">
					<label>Role</label>
					<!-- <input type="text" class="form-control"
						th:field="*{role}" /> -->
					<select th:field="*{role}">
						<option th:value="'USER'" th:text="USER"></option>
						<option th:value="'ADMIN'" th:text="ADMIN"></option>
					</select>
				</div>
				<div class="form-group">
					<label>Type</label>
					 <!-- <input type="text" class="form-control"
						th:field="*{type}" /> -->
						<select th:field="*{type}">
						<option th:value="'0'" th:text="0"></option>
						<option th:value="'1'" th:text="1"></option>
					</select>
				</div>
				<div class="form-group">
					<label>Email</label> <input type="text" class="form-control"
						th:field="*{email}" />
				</div>
				<div class="form-group">
					<label>Phone</label> <input type="text" class="form-control"
						th:field="*{phone}" />
				</div>
				<!-- <div class="form-group">
					<label>Last Login</label> <input type="text" class="form-control"
						th:field="*{lastLogin}" />
				</div> -->
				<div class="form-group">
					<label>Company</label> <input type="text" class="form-control"
						th:field="*{company}" />
				</div>
				<!-- <div class="form-group">
					<label>Description</label> <input type="text" class="form-control"
						th:field="*{description}" />
				</div> -->
				
				<!--  <div class="form-group">
					<label>Create Time</label> <input type="text" class="form-control"
						th:field="*{createdTime}" />
				</div>  -->
				<div class="form-group">
					<label>ExpireTime</label> <input type="text" class="form-control"
						th:field="*{expireTime}" />
				</div>

				<div class="form-group">
					<label>Number Topic</label> <input type="text" class="form-control"
						th:field="*{numberTopic}" />
				</div>
				<div class="form-group">
					<label>Tour</label> <input type="text" class="form-control"
						th:field="*{tour}" />
				</div>

				<button type="submit" class="btn btn-primary">Save</button>

			</form>
		</div>
	</div>
</body>
</html>